# Ignore artifacts:
build
coverage
**/.git
**/.svn
**/.hg
**/node_modules
android
/.angular/cache
.gradle
ios
/.idea
/.ionic
/.sass-cache
/.sourcemaps
/.versions
/.vscode
/dist
/platforms
/plugins
/www